<footer>
  <div class="container">
    <div class="content_central">
      <div class="box_tel hidden_mobile">
        <img src="assets/images/ico_tel.png" alt="Telefone Redes Dor">
      </div>
      <div class="text_central">
        <h3>Central de marcação de exames</h3>
        <span class="tel_central">{{footer.telefoneMarcacaoExames}}</span>
        <span>{{footer.emailMarcacaoExames}}</span>
        <p>Dias úteis 9:00h - 20:00h / Finais de semana e feriados: 09:00h - 05:00h</p>
      </div>
    </div>
    <!--content_central-->
    <div class="content_middle">
      <h3>Dúvidas sobre o portal? Entre em contato</h3>
      <ul>
        <li>
          <a href="{{footer.urlFacebook}}" class="bt_redes"><img src="assets/images/ico_facebook.png" alt="Facebook Redes Dor"></a>
        </li>
        <li>
          <a href="{{footer.urlTwitter}}" class="bt_redes"><img src="assets/images/ico_twitter.png" alt="Twitter Redes Dor"></a>
        </li>
        <li>
          <a href="{{footer.urlLinkedin}}" class="bt_redes"><img src="assets/images/ico_linkedin.png" alt="Linkedin Redes Dor"></a>
        </li>
        <li>
          <a href="{{footer.urlYoutube}}" class="bt_redes"><img src="assets/images/ico_youtube.png" alt="Youtube Redes Dor"></a>
        </li>
      </ul>
      <div class="text_central">
        <span class="tel_central">{{footer.telefoneAtendimento}}</span>
        <span>{{footer.emailAtendimento}}</span>
      </div>
    </div>
    <!--content_central-->
    <div class="logo_footer hidden_mobile">
      <a href="http://www.rededor.com.br/" target="_blank"><img src="assets/images/logo_dor.png" alt="Rede D'Or São Luiz"></a>
    </div>
  </div>
  <section class="rights">
    <div class="logo_footer hidden_desk">
      <a href="http://www.rededor.com.br/"><img src="assets/images/logo_dor.png" alt="Rede D'Or São Luiz" target="_blank"></a>
    </div>
    <center>
      <p>©2017 Rede D'Or São Luiz - Todos os direitos reservados</p>
    </center>
  </section>
</footer>
