<html>

<head>
  <meta content="text/html" http-equiv="content-type">
</head>

<body style="padding: 20px 0 40px 0; font-family: Arial, Helvetica, sans-serif">

  <div id="topo" style="margin: auto; max-width: 760px; height: 75px; background-color: #002e6d ; color: #f2f2f2 ; border-radius: 10px 10px 0 0; ">
    <div style="margin: auto; width: 296px; padding: 25px 0 0 0;font-size: 21px; ">
      Portal de Resultado de Exames
    </div>
  </div>
  <div id="logo_hospital" style="margin: 0 auto; max-width: 760px; height: 130px; background-color: #d9d9d9 ; color: white;">
    <div style=" margin: auto; width: 175px; padding-top: 15px ">
      <img src="http://www.caxiasdor.com.br/images/logo/caxiasDor_logo.png " style="opacity: 0.7; ">
    </div>
    <!-- <div style="margin: auto; font-size: 25px; color: #002e6d ; font-family: Verdana; text-align: center; padding-top: 10px ">Portal de resultado de exames</div> -->
  </div>
  <div style="background-color: #d9d9d9 ; color: #f2f2f2 ; margin: 0 auto; max-width: 760px ">
    <div style="padding: 20px 0 60px 10px; margin: auto; width: 650px;font-size:15px; color: #1a1a1a ">

      <div style="margin-bottom: 5px; ">
        Olá <span style="font-weight: bold"> {0}</span>,
      </div>
      <div style="margin-bottom: 5px; ">
        <p style="margin-left: 0px; ">
          há um resultado disponível para o seguinte exame:
        </p>
      </div>
      <ul>
        {1}
      </ul>
      <span>
			Atenciosamente,
		   </span>
      <div>
        Equipe do Portal de Resultado de Exames
      </div>
    </div>
  </div>
  <div id=" topo " style="margin: 0 auto; max-width: 760px; height: 50px; background-color: #002e6d ; color: white; border-radius: 0 0 10px 10px; ">
    <div style="margin: 0 auto; width: 120px; padding: 20px 0 0 0;font-size: 13px; ">
      <a href="http://www.rededor.com.br/ " style="text-decoration: none; color: #f2f2f2 ; "> www.rededor.com.br </a>
    </div>
  </div>
</body>

</html>