<customized_header></customized_header>

<section id="selecao_perfil">
  <div class="container">
    <div class="content_center">
      <h2>Qual perfil você deseja acessar?</h2>
      <div class="content_perfil">

        <a ng-click="patientChoosePerfil.choosePerfil(1)">
          <div class="div_img_paciente">
            <div style="background-image:url(assets/images/foto_perfil_v2.png)"></div>
          </div>
          <h2>José da Silva</h2>
          <h3>40 anos</h3>
        </a>

        <a ng-click="patientChoosePerfil.choosePerfil(2)">
          <div class="div_img_paciente">
            <div><span>CS</span></div>
          </div>
          <h2>Caroline Silva</h2>
          <h3>9 anos</h3>
        </a>

        <a ng-click="patientChoosePerfil.choosePerfil(3)">
          <div class="div_img_paciente">
            <div><span>HS</span></div>
          </div>
          <h2>Hélio Silva</h2>
          <h3>6 anos</h3>
        </a>
        
      </div>
    </div>
  </div>
</section>