<section id="busca_pacientes">

  <!-- CHANGE PASSWORD DIV -->
  <div class="center_login" ng-show="passwordController.modeForm">
    <div class="content_center">
      <h2 ng-if="passwordController.resetType == 'CREATE'">Criar usuário</h2>
      <h2 ng-if="passwordController.resetType != 'CREATE'">Alterar Senha</h2>

      <form id="login-2" name="form" ng-submit="passwordController.submit(form)">

        <div class="text_pass_pattern">
          <p ng-class="{'red': form.password_verify.$error.passwordMatch && (passwordController.confirm.length >= 8) && (passwordController.new.length >= 8)}">Sua senha deve conter no mínimo 8 caracteres, sendo pelo menos: um número, uma letra e um caracter especial <br/>(@ $ ! % * # ? &)</p>
        </div>

        <input ng-change="passwordController.hasUsername()" ng-model-options='{ debounce: 1000 }' ng-if="passwordController.resetType == 'CREATE'"
          type="text" placeholder="Crie um login" name="login" required ng-model="passwordController.username" ng-pattern="/^[a-z0-9._-]{3,30}$/"
        />

        <input ng-if="passwordController.resetType == 'CREATE' || passwordController.resetType == 'REMEMBER'" type="date" name="inputBirthDate" ng-model="passwordController.birthDate" placeholder="Data Nascimento (dd/mm/aaaa)" maxlength="10" ng-class="{'error': passwordController.showErrorBirthDate}" required/>
        <p class="warn" ng-show="passwordController.showErrorBirthDate">Preenchimento da Data de Nascimento é obrigatório</p>

        <input ng-if="passwordController.resetType == 'RESET'" type="password" ng-model="passwordController.oldPassword" placeholder="Digite a senha antiga"
          required/>

        <input type="password" name="password" class="form-control" ng-model="passwordController.new" autocomplete="off" placeholder="Digite a nova senha"
          ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&.])[A-Za-z\d@$!%*#?&.]{8,}$/" required/>

        <input type="password" name="password_verify" match-password="password" class="form-control" ng-model="passwordController.confirm"
          autocomplete="off" placeholder="Confirme a nova senha" ng-keyup="passwordController.isCheckPassword()" ng-class="{'error': passwordController.showErrorConfirmPassword, 'warn': form.password_verify.$error.passwordMatch}"
          ng-model-options='{ debounce: 1000 }' required/>
        <p class="warn" ng-show="form.password_verify.$error.passwordMatch && !form.password_verify.$error.required && passwordController.isCheckPassword">Senhas não conferem e/ou não atendem o padrão.</p>

        <div class="text_pass_pattern border_att">
          <p style="margin: 20px 10px"> É obrigatório aceitar os termos de uso para continuar com a criação da conta para acesso ao Portal de Exames. </p>
        </div>

        <div class="wrap_check" ng-show="passwordController.resetType == 'CREATE'">
          <div class="check">
            <input type="checkbox" value="" id="check-1" name="" ng-model="passwordController.eula">
            <label for="check-1"></label>
          </div>

          <span>Declaro que li e concordo com os <a popup="app/components/password/popupEula.tmpl.html" popup-width="870" class="link">termos de uso</a></span>
        </div>

        <button type="submit" ng-class="{'disabled-btn': passwordController.loading || !((form.password_verify.$error.passwordMatch != '') && passwordController.isValid() && (passwordController.confirm != null))}" class="bt_default bt_large" type="submit" ng-disabled="passwordController.loading || !((form.password_verify.$error.passwordMatch != '') && passwordController.isValid() && (passwordController.confirm != null))">{{passwordController.getSubmmitBtnMsg()}}</button>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="passwordController.loading">
          <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
        </div>

        <div class="text_pass_pattern">
          <p class="red" ng-show="form.login.$error.pattern">Login não deve conter espaços e/ou caracteres especiais, ter no mínimo 3 e no máximo 30 caracteres.</p>
        </div>

        <div class="text_pass_pattern">
          <p class="red" ng-show="passwordController.hasUser">Login já existe. Tente outro!</p>
        </div>

        <a ng-show="passwordController.resetType == 'RESET'" href="javascript:history.go(-1);" class="link">Voltar</a>

      </form>
    </div>
  </div>

  <!--ERROR DIV -->
  <div class="center_login" id="login_confirm" ng-show="passwordController.modeError">
    <div class="content_center">

      <p ng-show="passwordController.resetType == 'CREATE'">Não foi possível criar sua conta</p>
      <p ng-show="passwordController.resetType == 'RESET' || passwordController.resetType == 'REMEMBER'">Não foi possível redefinir a sua senha</p>

      <p class="red">
        {{passwordController.errorMsg}}
      </p>

      <a ui-sref="root.login_remember" ng-show="passwordController.resetType == 'REMEMBER'" class="bt_default bt_large">Solicitar nova senha</a>

      <a ng-show="passwordController.resetType == 'RESET'" href="javascript:history.go(-1);" class="bt_default bt_large">Voltar</a>

      <a ng-show="passwordController.resetType == 'CREATE'" ng-click="passwordController.reset()" class="bt_default bt_large">Voltar</a>
    </div>
  </div>

  <!--SUCCESS DIV -->
  <div class="center_login" id="login_confirm" ng-show="passwordController.modeSuccess">
    <div class="content_center">
      <p>
        {{passwordController.successMsg}}
      </p>

      <a ng-show="passwordController.resetType == 'CREATE' || passwordController.resetType == 'REMEMBER'" ui-sref="root.login"
        class="bt_default bt_large">Clique para entrar</a>

      <a ng-show="passwordController.resetType == 'RESET'" href="javascript:history.go(-1);" class="bt_default bt_large">Continuar</a>
    </div>
  </div>

</section>
