<div class="overlay-popup">
  <div class="popup" id="open_termos">
    <div popup-close class="btn-fechar close_dash"></div>
    <div class="padding_popup">
      <div class="titulo">
        <h3>Termos e condições de uso do Portal de Resultado de Exames</h3>
      </div>

      <div class="conteudo">
        <div class="lista_exame_cross">
          <h2>{{passwordController.eulaText}}</h2>
        </div>
      </div>
      <div class="content_bts">
        <a popup-close ng-click="passwordController.markEula()" class="bt_default" data-action="close" id="bt_termos">Li e aceito os termos</a>
      </div>
    </div>
  </div>
</div>